body{
	width: 980px;
	margin: 100px auto 0;
}

.ie{
	background-color:#fff; 
	position: relative; 
	padding-left: 200px;
}
.fancy{
	background:#3b3c43 url('../images/fancy-background.png'); 
	margin:0 auto;
}

.progress-bar.subscription{
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:13px;
	line-height:18px;
	color:#333;
}

	.progress-bar.subscription .heading{
		font-size:12px;
		text-transform:uppercase;
		font-weight: bold;
		overflow: hidden; 
		width: auto;
	}
		.ie .progress-bar.subscription .heading span{
		  color: #666;
		  position: relative; 
		  padding-left: 20px;
		}
		
		.fancy .progress-bar.subscription .heading span{
		  color: #fff;
		}
	
		.progress-bar.subscription .title{
			float: left; 
			margin-right:5px; 
			text-decoration: none;
		}

		.progress-bar.subscription .percentage-out-of{
			float: left;
		}

		.ie .progress-bar.subscription .flag{
			width: 335px; 
			text-align: right; 
			right: 130px; 
			position: relative;
		}
		
		.fancy .progress-bar.subscription .flag{
			float: right;
			margin-bottom: 5px;
		}
		
			.progress-bar.subscription .flag span.remaining {
				padding: 0 16px 0 0;
				position: relative; 
				top: 3px;
			}
			
			.progress-bar.subscription .flag span.success-flag{
				background: url(../images/success-flag.png) no-repeat;
			}
			
			.progress-bar.subscription .flag span.danger-flag{
				background: url(../images/danger-flag.png) no-repeat;
			}
			
			.progress-bar.subscription .flag span.error-flag{
				background: url(../images/error-flag.png) no-repeat;
			}

			.progress-bar.subscription .remaining-amount{
				margin-left: 5px;
			}

	.progress-bar.subscription .progress{
	  overflow:hidden;
	  height:35px;
	  margin-bottom:18px;
	  background-color:#bdbdb9;
	  background-image:-moz-linear-gradient(top, #dcdcd9, #bdbdb9);
	  background-image:-ms-linear-gradient(top, #dcdcd9, #bdbdb9);
	  background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#dcdcd9), to(#bdbdb9));
	  background-image:-webkit-linear-gradient(top, #dcdcd9, #bdbdb9);
	  background-image:-o-linear-gradient(top, #dcdcd9, #bdbdb9);
	  background-image:linear-gradient(top, #dcdcd9, #bdbdb9);
	  -webkit-box-shadow:inset 0 0 10px rgba(0, 0, 0, .6);
	  -moz-box-shadow:inset 0 0 10px rgba(0, 0, 0, .6);
	  box-shadow:inset 0 0 10px rgba(0, 0, 0, .6);
	  -webkit-border-radius:4px;
	  -moz-border-radius:4px;
	  border-radius:4px;
	}

		.progress-bar.subscription .progress .bar{
		    width:0%;
		    height:35px;
		    line-height: 35px;
		    color:#ffffff;
		    font-size:12px;
		    text-align:center;
		    text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
		    background-color:#0e90d2;
		    background-image:-moz-linear-gradient(top, #149bdf, #0480be);
		    background-image:-ms-linear-gradient(top, #149bdf, #0480be);
		    background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#149bdf), to(#0480be));
		    background-image:-webkit-linear-gradient(top, #149bdf, #0480be);
		    background-image:-o-linear-gradient(top, #149bdf, #0480be);
		    background-image:linear-gradient(top, #149bdf, #0480be);
		    -webkit-box-shadow:inset 0 -1px 0 rgba(0, 0, 0, 0.15);
		    -moz-box-shadow:inset 0 -1px 0 rgba(0, 0, 0, 0.15);
		    box-shadow:inset 0 -1px 0 rgba(0, 0, 0, 0.15);
		    -webkit-box-sizing:border-box;
		    -moz-box-sizing:border-box;
		    box-sizing:border-box;
		    -webkit-transition:width 0.6s ease;
		    -moz-transition:width 0.6s ease;
		    -ms-transition:width 0.6s ease;
		    -o-transition:width 0.6s ease;
		    transition:width 0.6s ease;
		}

		.progress-bar.subscription .progress-success .bar{
		  background-color:#5eb95e;
		  background-image:-moz-linear-gradient(top, #62c462, #57a957);
		  background-image:-ms-linear-gradient(top, #62c462, #57a957);
		  background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#57a957));
		  background-image:-webkit-linear-gradient(top, #62c462, #57a957);
		  background-image:-o-linear-gradient(top, #62c462, #57a957);
		  background-image:linear-gradient(top, #62c462, #57a957);
		  background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#57a957', GradientType=0);
		}

		.progress-bar.subscription .progress-danger .bar{
		  background-color:#4bb1cf;
		  background-image:-moz-linear-gradient(top, #c8d049, #bcb433);
		  background-image:-ms-linear-gradient(top, #c8d049, #bcb433);
		  background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#c8d049), to(#bcb433));
		  background-image:-webkit-linear-gradient(top, #c8d049, #bcb433);
		  background-image:-o-linear-gradient(top, #c8d049, #bcb433);
		  background-image:linear-gradient(top, #c8d049, #bcb433);
		  background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c8d049', endColorstr='#bcb433', GradientType=0);
		}

		.progress-bar.subscription .progress-error .bar{
		  background-color:#dd514c;
		  background-image:-moz-linear-gradient(top, #ee5f5b, #c43c35);
		  background-image:-ms-linear-gradient(top, #ee5f5b, #c43c35);
		  background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#c43c35));
		  background-image:-webkit-linear-gradient(top, #ee5f5b, #c43c35);
		  background-image:-o-linear-gradient(top, #ee5f5b, #c43c35);
		  background-image:linear-gradient(top, #ee5f5b, #c43c35);
		  background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#c43c35', GradientType=0);
		}

	.progress-bar.subscription .alert{
		padding:8px 35px 8px 14px;
		margin-bottom:18px;
		text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);
		-webkit-border-radius:4px;
		-moz-border-radius:4px;
		border-radius:4px;
	}
	
		.progress-bar.subscription .alert.success-message{
			background-color:#dff0d8;
			border-color:#d6e9c6; 
			color:#468847;
		}
		
		.progress-bar.subscription .alert.danger-message{
			background-color:#fcf8e3;
			border:1px solid #fbeed5;
			color:#c09853;
		}
		
		.progress-bar.subscription .alert.error-message{
			background-color:#f2dede;
			border-color:#eed3d7; 
			color:#b94a48;
		}
		
		.progress-bar.subscription .alert.success-message,
		.progress-bar.subscription .alert.danger-message,
		.progress-bar.subscription .alert.error-message{
			display: none;
		}

		.ie .progress-bar.subscription .success-message,
		.ie .progress-bar.subscription .danger-message,
		.ie .progress-bar.subscription .error-message{
		  position: relative;
		  padding-left: 35px;
		}

			.progress-bar.subscription .alert-amount{
				font-size: 15px; 
				font-weight: bold;
			}








